{{- $ageKeyPath := joinPath .chezmoi.homeDir ".config" "chezmoi" "key.txt" }}
{{- if stat $ageKeyPath }}
encryption = "age"

[age]
identity = "{{ $ageKeyPath }}"
recipient = "age1jq0s5w8wl2cr5hla84jt97ewda4ucm3ctclkaep4mf3s5ev74vwqmwfhev"

{{ end -}}

[data.development]
python = true
golang = true
rust = true
docker = true
kubernetes = true

[data.cloud]
azure = true
gcloud = false

[data.tools]
terraform = true
monitoring = true
