# To ensure this directory exists, we'll ignore everything that eventually gets created
# in it, except one file that'll make it interesting enough to git to be tracked at all
enabled/*
!enabled/typical.sh
