{{- $pkgs := list
    "coreutils@latest"
    "findutils@latest"
    "gnutar@latest"
    "gnused@latest"
    "gnugrep@latest"
    "gnumake@latest"
    "curl@latest"
    "openssl@latest"
    "git@latest"
    "git-lfs@latest"
    "openssh@latest"
    "wget@latest"
    "netcat@latest"
    "rsync@latest"
    "socat@latest"
    "tmux@latest"
    "zellij@latest"
    "starship@latest"
    "direnv@latest"
    "fzf@latest"
    "bat@latest"
    "btop@latest"
    "tree@latest"
    "eza@latest"
    "fd@latest"
    "watch@latest"
    "television@latest"
    "pv@latest"
    "parallel@latest"
    "stow@latest"
    "vim@latest"
    "neovim@latest"
    "ripgrep@latest"
    "jq@latest"
    "yq-go@latest"
    "jc@latest"
    "p7zip@latest"
    "duckdb@latest"
    "pandoc@latest"
    "upx@latest"
    "calc@latest"
    "nmap@latest"
    "dog@latest"
    "duf@latest"
    "arping@latest"
    "wakeonlan@latest"
    "xh@latest"
    "aria2@latest"
    "wireshark-cli@latest"
    "gnupg@latest"
    "age@latest"
    "step-cli@latest"
    "binwalk@latest"
    "yara@latest"
    "pwgen@latest"
    "gh@latest"
    "git-filter-repo@latest"
    "markdownlint-cli2@latest"
    "pre-commit@latest"
    "buf@latest"
    "rclone@latest"
    "cosign@latest"
    "crane@latest"
    "skopeo@latest"
    "doctl@latest"
    "ffmpeg@latest"
    "imagemagick@latest"
    "gnuplot@latest"
    "tesseract@latest"
    "exiftool@latest"
    "just@latest"
    "websocat@latest"
    "oath-toolkit@latest"
    "tmux-xpanes@latest"
    "mediainfo@latest"
    "qpdf@latest"
    "age-plugin-yubikey@latest"
    "cfssl@latest"
    "nodejs@latest"
    "rmlint@latest"
    "jdupes@latest"
-}}
{{- if dig "development" "python" false . -}}
{{- $pkgs = append $pkgs "uv@latest" -}}
{{- end -}}
{{- if dig "development" "rust" false . -}}
{{- $pkgs = append $pkgs "rustup@latest" -}}
{{- end -}}
{{- if dig "development" "kubernetes" false . -}}
{{- $pkgs = append $pkgs "kubectl@1.30" -}}
{{- $pkgs = append $pkgs "kubectx@latest" -}}
{{- $pkgs = append $pkgs "kubernetes-helm@latest" -}}
{{- $pkgs = append $pkgs "k9s@latest" -}}
{{- $pkgs = append $pkgs "argocd@latest" -}}
{{- $pkgs = append $pkgs "kubeconform@latest" -}}
{{- $pkgs = append $pkgs "kubetail@latest" -}}
{{- $pkgs = append $pkgs "kustomize@latest" -}}
{{- $pkgs = append $pkgs "talosctl@latest" -}}
{{- $pkgs = append $pkgs "cmctl@latest" -}}
{{- $pkgs = append $pkgs "kompose@latest" -}}
{{- $pkgs = append $pkgs "argo@latest" -}}
{{- end -}}
{{- if dig "tools" "terraform" false . -}}
{{- $pkgs = append $pkgs "terraform@latest" -}}
{{- $pkgs = append $pkgs "cf-terraforming@latest" -}}
{{- end -}}
{{- if dig "tools" "monitoring" false . -}}
{{- $pkgs = append $pkgs "gum@latest" -}}
{{- end -}}
#!/bin/bash
input=$(cat)
[ -z "$input" ] && input='{}'

printf '%s' "$input" | jq \
  --arg home "{{ .chezmoi.homeDir }}" \
  --argjson pkgs '{{ $pkgs | toJson }}' \
  '. + {
    "$schema": "https://raw.githubusercontent.com/jetify-com/devbox/0.16.0/.schema/devbox.schema.json",
    "packages": $pkgs,
    "include": [("path:" + $home + "/.config/local/devbox")]
  }'
